In [30]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
# Import the API key.
from config import g_key
import gmaps.datasets

In [31]:
gmaps.configure(api_key=g_key)

In [32]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("World_Weather_Analysis/weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lasa,IT,2022-01-28 21:57:29,46.6166,10.7002,31.37,69,44,8.25
1,1,Turbat,PK,2022-01-28 21:57:30,26.0023,63.0440,62.51,67,0,1.48
2,2,Rikitea,PF,2022-01-28 21:54:59,-23.1203,-134.9692,78.06,70,100,15.64
3,3,Lagoa,PT,2022-01-28 21:57:30,39.0500,-27.9833,57.78,57,87,12.59
4,4,Morgan City,US,2022-01-28 21:53:52,29.6994,-91.2068,57.00,30,0,20.71

In [33]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [34]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [39]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rikitea,PF,2022-01-28 21:54:59,-23.1203,-134.9692,78.06,70,100,15.64
7,7,Ancud,CL,2022-01-28 21:57:31,-41.8697,-73.8203,80.13,62,0,9.53
8,8,Kapaa,US,2022-01-28 21:56:05,22.0752,-159.3190,79.12,59,3,3.00
9,9,Isangel,VU,2022-01-28 21:57:32,-19.5500,169.2667,80.71,89,100,4.61
17,17,Puerto Ayora,EC,2022-01-28 21:57:33,-0.7393,-90.3518,80.56,76,66,9.66
26,26,Panguna,PG,2022-01-28 21:57:36,-6.3164,155.4848,77.61,67,81,1.61
29,29,Souillac,MU,2022-01-28 21:57:37,-20.5167,57.5167,79.18,89,40,2.30
30,30,Vaini,TO,2022-01-28 21:57:37,-21.2000,-175.2000,82.38,79,98,19.19
31,31,Honiara,SB,2022-01-28 21:57:13,-9.4333,159.9500,76.59,96,100,7.72
33,33,Faanui,PF,2022-01-28 21:56:35,-16.4833,-151.7500,81.45,74,11,16.20

In [40]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [41]:
preferred_cities_df.notnull().sum()

City_ID       141
City          141
Country       141
Date          141
Lat           141
Lng           141
Max Temp      141
Humidity      141
Cloudiness    141
Wind Speed    141
dtype: int64

In [42]:
preferred_cities_df.count()

City_ID       141
City          141
Country       141
Date          141
Lat           141
Lng           141
Max Temp      141
Humidity      141
Cloudiness    141
Wind Speed    141
dtype: int64

In [48]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2        Rikitea      PF     78.06 -23.1203 -134.9692
7          Ancud      CL     80.13 -41.8697  -73.8203
8          Kapaa      US     79.12  22.0752 -159.3190
9        Isangel      VU     80.71 -19.5500  169.2667
17  Puerto Ayora      EC     80.56  -0.7393  -90.3518
26       Panguna      PG     77.61  -6.3164  155.4848
29      Souillac      MU     79.18 -20.5167   57.5167
30         Vaini      TO     82.38 -21.2000 -175.2000
31       Honiara      SB     76.59  -9.4333  159.9500
33        Faanui      PF     81.45 -16.4833 -151.7500

In [57]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

hotels
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [58]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Rikitea,PF,78.06,-23.1203,-134.9692,People ThankYou
7,Ancud,CL,80.13,-41.8697,-73.8203,Hotel Arena Gruesa
8,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
9,Isangel,VU,80.71,-19.5500,169.2667,Tanna Lodge
17,Puerto Ayora,EC,80.56,-0.7393,-90.3518,Finch Bay Galapagos Hotel
...,...,...,...,...,...,...
558,Saint-Georges,GD,76.93,12.0564,-61.7485,Radisson Grenada Beach Resort
559,Tambopata,PE,78.03,-12.7333,-69.1833,
564,Arteaga,MX,81.72,18.4667,-102.4167,
570,Cabo San Lucas,MX,82.62,22.8909,-109.9124,Hotel Tesoro Los Cabos
573,Kloulklubed,PW,81.09,7.0419,134.2556,Storyboard Beach Resort

In [59]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [63]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))